
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap');

body {
    padding:5%;
}

.upper{
    text-transform: uppercase;
    
}

.font{

    font-family: 'Raleway', sans-serif;
}
  
.size1{

    font-size: 40;
}

.size2{

    font-size: 20;
}